html, body {
    min-height: 100%;
}

body{
    background-color: gainsboro;
    background-image: url(../img/andaprepback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    background:rgba(rgb(211, 74, 33), green, blue, 80%);
    margin:0 auto;
    border: radius 2px;
    font-family: Arial, Helvetica, sans-serif;
}

header h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:whitesmoke;
    margin: 0;
    max-width: 50%;
    font-size: 1.7em
}

h1 {
    margin:0 0 40px;
}

#header{
    color: whitesmoke;
    background-color: rgb(19, 17, 17);
    width: 100%;
    padding: 20px;
    position: fixed;
    margin-top: 0;
    position: fixed;
    overflow: hidden;
    top: 0;
}

header p{
    padding: 0;
    color: #fbd2d7;
    margin: 0;
    font-size: .7em;
}

.main{
    min-width: 100%;
    margin: center;
    text-align: center;
    color:whitesmoke;
}

.form {
    background:rgba(19, 17, 17, 0.7);
    padding: 40px;
    max-width:600px;
    margin:120px auto;
    border-radius:5px;
    box-shadow:0 4px 10px 4px rgba(54,29, 33, .3); 
    box-shadow: #fbd2d7; 
}

input {
    color:rgba(5, 2, 2,.5);
    font-size:22px;
    font-size:22px;
    display:block;
    padding:5px 10px;
    background:none;
    background-image:none;
    border:1px solid rgb(172, 167, 167);
    color:white;
    border-radius:0;
    margin:auto;
    color:whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
}

.button a{
    color: whitesmoke;
    text-decoration: none;
}

#tab a{
    color: whitesmoke;
    text-decoration:none;
    padding-top: 10px;
    color: whitesmoke;
}

#tab {
    text-decoration:none;
    color:whitesmoke;
    margin-top: 20px;
    margin-right: 0;
    margin-bottom: 10px;
    position: relative;
    float: right;    
}

#tab :hover {
    color: #fbd2d7;
}

.field-wrap {
    margin-bottom:40px;
    min-width: 20%;
    color: #fbd2d7;

}

.button {
    border:1px solid rgb(172, 167, 167);
    outline:none;
    border-radius: 30px;
    padding:5px 10px;
    font-size:18px;
    font-weight: medium;
    letter-spacing:.1em;
    text-align: center;
    background: none;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
  
.button-block {
    display:block;
    margin: auto;
}

.button:hover{
    background-color: #fbd2d7;
}

.ask {
    float: right; 
    margin-right: 10%;
    background-color: #fbd2d7;
    border:1px solid rgb(172, 167, 167);
    outline:none;
    border-radius: 30px;
    padding:5px 10px;
    font-size: 1em;
    font-weight: medium;
    letter-spacing:.1em;
    text-align: center;
    color:rgb(19, 17, 17);
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique, bold;
    text-decoration: none;
    box-shadow:0 4px 10px 4px rgba(54, 29, 33, 0.103);
  /* position: relative; */
}

.ask a{
    color: rgb(19, 17, 17);
    text-decoration: none;
}

.ask:hover{
    font-size: 18px;
    color: rgb(19, 17, 17);
}